Почтовый ящик : ranepa-emit.demography@yandex.ru

Указать тему письма  : ФамилияИО_Анализ_данных_2 практика

1.	Среди чисел от 1 до 200 выведите те, которые делятся на 7

In [ ]:
for i in range(1, 199):
    if i / 7 == 0:
      print(i, 'делится на 7')

2.	Вводится 10 чисел с клавиатуры. Найти среди них максимум и минимум. (не надо создавать 10 переменных! нужны циклы)

In [ ]:
chislo = [1,2,3,4,5,6,7,8,9,10]
x = chislo[0]
print(x)

1

In [ ]:
x = chislo[9]
print(x)

10

# 2 - ой алгоритм

In [ ]:
x = min(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
y = max(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(x)
print(y)

1
10

3.	Найти сумму всех цифр заданного натурального числа,  которые делятся на 3.

In [ ]:
sum(map(int,str(333)))

9

4.	Используя цикл while, выведите на экран таблицу умножения для любого числа  на Ваш выбор.

**Пример**
    
Для числа 3 результат выглядит так:
    
3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

3 * 4 = 12

3 * 5 = 15

...

3 * 9 = 27

In [ ]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i*j, end="\t")

5
1	2	3	4	5	2	4	6	8	10	3	6	9	12	15	4	8	12	16	20	5	10	15	20	25

# 2-ая версия

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print("%4d" % (i*j), end='')
    print()

   1   2   3   4   5   6   7   8   9
   2   4   6   8  10  12  14  16  18
   3   6   9  12  15  18  21  24  27
   4   8  12  16  20  24  28  32  36
   5  10  15  20  25  30  35  40  45
   6  12  18  24  30  36  42  48  54
   7  14  21  28  35  42  49  56  63
   8  16  24  32  40  48  56  64  72
   9  18  27  36  45  54  63  72  81